<mat-card class="product__card" *ngIf="pokemonDetail">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ pokemonDetail.name }}</mat-card-title>
    <mat-card-subtitle>{{ getTypesString(pokemonDetail) }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="product__image"
    src="{{ pokemonDetail.sprites.other['official-artwork'].front_default }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="justify-content-center m-t-6">
    <div *ngIf="!quantitySelected">
      <button mat-raised-button color="primary" (click)="setProductInCart(1)">
        Comprar
      </button>
    </div>
    <div *ngIf="quantitySelected">
      <app-quantity-selector
        [quantitySelected]="quantitySelected"
        (onChange)="setProductInCart($event)"
      ></app-quantity-selector>
    </div>
  </mat-card-actions>
</mat-card>
