.navbar {
  height: 70px;
  width: 100%;
  padding: 14px 30px;

  &__sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }

  &__nav-links {
    display: block;
    font-size: 18px;
  }

  &__buttonHidden {
    display: none;
  }

  &__h-0 {
    height: auto;
  }
  &__spacer {
    flex: 1 1 auto;
  }

  @media (max-width: 767px) {
    &__mobile {
      height: 0;
    }
    &__buttonHidden {
      display: block;
    }

    &__mobile_show {
      height: 100vh;
    }
    &__button {
      font-size: 30px;
    }

    &__nav-links {
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      background-color: #c2185b;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 0px;
      left: 0px;
      z-index: 10;
    }

    &__nav-links button {
      width: 100%;
      display: block;
    }

    &__menu-icon {
      font-size: 30px !important;
      width: 30px !important;
      height: 30px !important;
    }
  }
}
