.card {
  background-color: #c2c5cf;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  color: black;

  > div {
    min-width: 175px;
  }

  &__image {
    max-width: 150px;
  }

  &__title {
    grid-column: span 1;

    &__subtitle {
      font-size: 1.25rem;
      color: rgb(71, 69, 69);
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &__units {
    text-align: center;

    grid-column: span 1;
  }
}

.number-input {
  text-align: center;
  width: 20px;
}

.button {
  min-width: 0px;
  width: 2rem;
  height: 2rem;
}
