.shopping-cart {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;

  &__products {
    grid-column-start: 2;
    min-height: 100vh;
    background-color: #838488;
    ul {
      list-style-type: none;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
    &__container {
      height: fit-content;
    }
  }

  &__totals {
    background-color: #838488;
    min-height: 100vh;
    border-top-right-radius: 0px;
  }

  &__card-container {
    height: 12rem;
  }

  @media (max-width: 1335px) {
    &__products {
      grid-column-start: 1;
      min-height: fit-content;
      border-bottom-left-radius: 0px;
    }
    &__totals {
      border-bottom-left-radius: 10px;
    }
    grid-template-columns: 1fr;
  }
}
