<div *ngIf="form" [formGroup]="form" class="card border-rounded h-100 m-x-12">
  <div>
    <img
      mat-card-image
      class="card__image border-rounded m-l-10 m-t-10"
      src="{{
        product.product.sprites.other['official-artwork'].front_default
      }}"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <div
    class="card__title d-flex row m-0 p-t-10 align-self--baseline text-align--center"
  >
    <div class="col-xs-12 card__title__title"></div>
    <div class="col-xs-12 p-t-6 card__title__subtitle">
      {{ product.product.name }}
    </div>
  </div>
  <div
    class="card__units d-flex row m-0 p-t-10 align-self--baseline text-align--center"
  >
    <div class="col-xs-12 card__title__title">Precio por ud</div>
    <div class="col-xs-12 p-t-6 card__title__subtitle">
      {{ product.price }} €
    </div>
  </div>
  <div class="d-flex row m-0 p-t-10 align-self--baseline text-align--center">
    <div class="col-xs-12 card__title__title">Unidades</div>
    <div class="col-xs-12 p-t-6 card__title__subtitle">
      <div>
        <button
          mat-raised-button
          color="primary"
          class="button p-0"
          (click)="setProductInCart(quantitySelected - 1)"
        >
          -
        </button>
        <input
          [formControlName]="'quantity'"
          class="m-x-6 number-input"
          [value]="quantitySelected"
        />

        <button
          mat-raised-button
          color="primary"
          class="button p-0"
          (click)="setProductInCart(quantitySelected + 1)"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex row m-0 p-t-10 align-self--baseline text-align--center">
    <div class="col-xs-12 card__title__title">Total</div>
    <div class="col-xs-12 p-t-6 card__title__subtitle">
      {{ product.price * product.quantity }}€
    </div>
  </div>
</div>
