.relative {
  position: relative !important;
}
.sticky {
  position: sticky !important;
}

.float-right {
  float: right;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
