.relative {
  position: relative !important;
}
.sticky {
  position: sticky !important;
}

.float-right {
  float: right;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-flow--column {
  flex-flow: column;
}

.align-content-center {
  align-content: center;
}
.align-content-baseline {
  align-content: baseline;
}
.align-self-center {
  align-self: center;
}
.align-self--baseline {
  align-self: baseline;
}
.align-items--end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0px !important;
}

.p-0 {
  padding: 0 !important;
}
.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
