@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html {
  background-color: #202124;
  font-family: "Roboto", sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c2185b rgba(0, 0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #c2185b;
  border-radius: 10px;
}
