<article>
  <div class="p-t-12 row">
    <div class="col-xs-12">
      <div class="offer-box row align-content-baseline">
        <div class="col-xs-12 offer-box__row p-y-3 m-t-24">
          <span class="offer-box__text offer-box__subtitle1"
            >Puta que oferton</span
          >
        </div>
        <div class="col-xs-12 offer-box__row p-y-3">
          <span class="offer-box__text offer-box__title">1234</span>
        </div>
        <div class="col-xs-12 offer-box__row p-y-3">
          <span class="offer-box__text offer-box__subtitle2">1234</span>
        </div>
        <div class="col-xs-12 offer-box__row p-y-3">
          <span class="offer-box__text"
            ><button mat-raised-button color="primary">Comprar</button></span
          >
        </div>
      </div>
    </div>
  </div>
</article>
