<div class="h-100vh">
  <mat-toolbar color="primary" class="navbar-sticky">
    <mat-toolbar-row class="navbar">
      <mat-icon class="navBarButton" (click)="toggleMenu()">menu</mat-icon>
      <div
        class="nav-links mat-primary"
        [ngClass]="
          this.showMenuMobile ? 'navbar__mobile_show' : 'navbar__mobile'
        "
      >
        <mat-icon class="navBarButton float-right" (click)="toggleMenu()"
          >close</mat-icon
        >

        <button mat-button href="#">Home</button>
        <button mat-button href="#">About</button>
        <button mat-button href="#">Project</button>
        <button mat-button href="#">Services</button>
        <button mat-button href="#">Contact</button>
        <button mat-button class="loginBtn">Login</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
