<div class="h-100vh-min shop">
  <section class="shop__menu" [ngClass]="toggleMenu ? 'd-flex' : ''">
    <mat-toolbar color="primary" class="h-100">
      <mat-toolbar-row class="flex-direction-column shop__toolbar-row">
        <mat-icon
          class="float-right shop__buttonHidden m-r-3 m-t-3"
          (click)="OnToggleMenu()"
          >close</mat-icon
        >
        <span class="d-block m-t-3">Menu</span>
        <ul class="p-0">
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
  </section>
  <section
    class="shop__products d-flex align-items-center flex-direction-column"
  >
    <article class="row m-0 m-t-12">
      <button
        class="m-t-12 shop__button-menu"
        mat-raised-button
        (click)="OnToggleMenu()"
      >
        Abrir Filtros
      </button>
    </article>
    <article class="row h-100vh-min row w-100"></article>
  </section>
</div>
