<div class="h-100vh-min shop">
  <section class="shop__menu">
    <mat-toolbar color="primary" class="h-100">
      <mat-toolbar-row class="flex-direction-column">
        <span class="d-block">Menu</span>
        <ul class="p-0">
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
          <li><button mat-button>Cosa</button></li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
  </section>
  <section class="shop__products"></section>
</div>
