<div class="h-100vh-min shop">
  <section class="shop__menu" [ngClass]="toggleMenu ? 'd-flex' : ''">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="flex-direction-column shop__toolbar-row h-100">
        <mat-icon
          class="float-right shop__buttonHidden m-r-3 m-t-3"
          (click)="OnToggleMenu()"
          >close</mat-icon
        >
        <span class="d-block m-t-3">Filtros</span>
        <ul class="p-0">
          <li *ngIf="filterApplied">
            <span>Filtro Aplicado: {{ filterApplied }}</span>
          </li>
          <li *ngFor="let item of types">
            <button
              mat-raised-button
              color="warn"
              (click)="setFilter(item.name)"
            >
              {{ item.name }}
            </button>
          </li>
          <li>
            <button
              mat-button
              mat-raised-button
              color="warn"
              (click)="setFilter('')"
            >
              Reset
            </button>
          </li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
  </section>
  <section
    class="shop__products d-flex align-items-center flex-direction-column m-b-10"
  >
    <article class="row m-0 m-t-12">
      <button
        class="m-t-12 shop__button-menu"
        mat-raised-button
        (click)="OnToggleMenu()"
      >
        Abrir Filtros
      </button>
    </article>
    <article class="row shop__products__cards h-100vh-min row w-100 p20">
      <app-product-card
        class="col-lg-3 col-md-6 col-xs-12 m-b-10 align-items-center"
        *ngFor="let pokemon of products"
        [pokemon]="pokemon"
        [pokemonTypeFilter]="$pokemonFilter.asObservable()"
        [productsInCart]="productsInCart"
      ></app-product-card>
    </article>
    <div class="w-100">
      <mat-paginator
        [length]="numberOfProducts"
        [pageSizeOptions]="[20, 25, 30]"
        aria-label="Select page"
        class="m-x-20"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </section>
</div>
