<div class="totals h-100 border-rounded m-t-55 m-r-14 d-flex align-items--end">
  <div class="m12 w-100 text-align--center">
    <div class="totals__subtotal m-b-4">
      Subtotal: {{ total ? total / 2 : total }}€
    </div>
    <div class="totals__total m-b-4">Total: {{ total }} €</div>
    <button
      mat-raised-button
      color="primary"
      class="text-align--center totals__confirm"
      [disabled]="total ? false : true"
      (click)="onClickSumbitForm()"
    >
      Tramitar Pedido
    </button>
  </div>
</div>
